<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/abdmob/x2js/master/xml2json.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<body ng-app="myApp" ng-controller="myCtrl" >
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" >
                    <a class="nav-link" href="#" ng-click="change('ewallet')">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" ng-click="change('transaction')">Transaction Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" ng-click="change('paymentdetails')">Payment Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" ng-click="change('customer')">Customer Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" ng-click="change('shopping-cart')">Shopping Cart</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">


        <p>Info of: {[{title}]}</p>


        <div ng-repeat="(key, value) in info" >

        <p>{[{key}]}: </p>
            <div ng-if="checkValue(value)">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Merchant Item</th>
                        <th scope="col">Tax Table</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in value">
                        <td ng-repeat="ival in item">{[{ival}]}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


        <p ng-if="!checkValue(value)" ng-bind-html="value"></p>




</main>

<script>
    var app = angular.module('myApp', ['ngSanitize']).config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });
    app.controller('myCtrl', function($scope, $http) {
        $scope.count = 0;
        $scope.myFunction = function() {
            $scope.count++;
        }
        $scope.change = function(data) {
            if(data !== 'shopping-cart') {
                $scope.info =  $scope.finalData.status[data];
            } else {
                $scope.info =  $scope.finalData.status['checkoutdata']['shopping-cart']['items'];
            }

            $scope.title =  data;
        };
        $scope.checkValue = function checkValue(value) {
          return typeof(value) === "object";
        }
        $http({
            method : "POST",
            url : "http://127.0.0.1:8000/xml",
            headers: 'Content/Type: xml'
        }).then(function mySuccess(response) {
            var x2js = new X2JS();
            $scope.finalData = x2js.xml_str2json(response.data);
            $scope.info =  $scope.finalData.status.ewallet;
            $scope.title = 'ewallet'
        }, function myError(response) {
            console.log(response)
            $scope.info = response.statusText;
        });
    });
</script>

</body>
<style>
    div p {
        display: inline-block;
        vertical-align: top;
    }
    .container {
        padding-top: 5%;
    }
</style>
</html>
